
.swanky-and-moo-moo-regular {
    font-family: "Swanky and Moo Moo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    margin: 0;
    padding: 0;
    background-color: #dce9f5;
    display: block;
}


.head-profile {
    text-align: center;
    padding: 30px;
}

.head1 h1 {
    font-family: "Swanky and Moo Moo", cursive;
    color: #51658b ;
    margin: 0;
}

.head2 p {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #9c7979;
    margin: 0;
}


.content1, .content2, .content3, .content4, .content6 {
    padding: 40px;
    margin: 0 auto;
    max-width: 800px;
    background-color: #fffcf2;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 30px;
}

.content5 {
    margin-bottom: 30px;
}

.content1 h2, .content2 h2, .content3 h2, .content4 h2, .content5 h2, .content6 h2 {
    font-family: "Swanky and Moo Moo", cursive;
    color: #b890b2;
    text-align: center;
}

.vdo video {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.image-container img {
    width:30pc;
    height: 20pc;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.img-strengths img {
    width:10pc;
    height: 10pc;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.img-weaknesses img {
    width:10pc;
    height: 10pc;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.img-interests img {
    width:30pc;
    height: 20pc;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.img-motivation img {
    width:30pc;
    height: 20pc;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}


ul {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #666;
    line-height: 1.6;
    margin: 0 0 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}


p {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #666;
    line-height: 1.6;
    margin: 0 0 10px;
}


a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bg-img1 {
    width: 250px;
    height:250px;
    background-image: url('resources/star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
    top: 0px;
    z-index: 0;
    transform: rotate(90deg);                                                                                                                                                                                                                                                                              
}

.bg-img2 {
    width: 250px;
    height:250px;
    background-image: url('resources/star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 780px;
    top: 450px;
    z-index: 0;;  
    transform: rotate(45deg);                                                                                                                                                                                                                                                                               
}

.bg-img3 {
    width: 180px;
    height: 150px;
    background-image: url('resources/yellow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 0;;  
    transform: rotate(-20deg);                                                                                                                                                                                                                                                                               
}

.bg-img4 {
    width: 140px;
    height: 140px;
    background-image: url('resources/mhee.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 620px;
    top: 320px;
    z-index: 0;;  
    transform: rotate(10deg);                                                                                                                                                                                                                                                                               
}

.bg-img5 {
    width: 140px;
    height: 140px;
    background-image: url('resources/tai.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 120px;
    top: 80px;
    z-index: 0;;  
    transform: rotate(-15deg);                                                                                                                                                                                                                                                                               
}

.bg-img6 {
    width: 170px;
    height: 170px;
    background-image: url('resources/yellow.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 610px;
    top: 300px;
    z-index: 0;;  
    transform: rotate(17deg);                                                                                                                                                                                                                                                                               
}

.bg-img7 {
    width: 250px;
    height:250px;
    background-image: url('resources/star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 780px;
    top: 450px;
    z-index: 1;;  
    transform: rotate(45deg);                                                                                                                                                                                                                                                                               
}

.bg-img8 {
    width: 250px;
    height:250px;
    background-image: url('resources/star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 790px;
    top: 580px;
    z-index: 1;;  
    transform: rotate(45deg);
}

.plan1, .plan2 ,.plan3 ,.plan4 ,.plan5 ,.plan6 ,.plan7 ,.plan8 ,.plan9 ,.plan10 {
    padding: 40px;
    margin: 0 auto;
    max-width: 550px;
    background-color: #fffcf2;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 30px;
}

.head-myfuture {
    text-align: center;
    padding: 30px;
}

.head-myfuture1 h1 {
    font-family: "Swanky and Moo Moo", cursive;
    color: #51658b ;
    margin: 0;
}

.phead-myfuture p {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #9c7979;
    margin: 0;
}

.plan1 h2, .plan2 h2, .plan3 h2, .plan4 h2, .plan5 h2, .plan6 h2, .plan7 h2, .plan8 h2, .plan9 h2, .plan10 h2 {
    font-family: "Swanky and Moo Moo", cursive;
    color: #b890b2;
    text-align: center;
}

.mf-img1 {
    width: 250px;
    height:250px;
    background-image: url('resources/star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 500px;
    top: -100px;
    z-index: 0;
    transform: rotate(90deg);                                                                                                                                                                                                                                                                              
}

.mf-img2 {
    width: 180px;
    height: 150px;
    background-image: url('resources/yellow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 530px;
    top: -0px;
    z-index: 0;
    transform: rotate(20deg);
}

.mf-img3 {
    width: 140px;
    height: 140px;
    background-image: url('resources/tai.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -80px;
    top: 80px;
    z-index: 0;;  
    transform: rotate(-15deg);                                                                                                                                                                                                                                                                               
}

.mf-img4 {
    width: 180px;
    height: 150px;
    background-image: url('resources/yellow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -90px;
    top: -0px;
    z-index: 0;
    transform: rotate(-20deg);
}

.mf-img5 {
    width: 140px;
    height: 140px;
    background-image: url('resources/mhee.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 550px;
    top: 50px;
    z-index: 0;;  
    transform: rotate(30deg);                                                                                                                                                                                                                                                                               
}

.year1 h2, .year2 h2, .year3 h2, .year4 h2 {
    font-family: "Swanky and Moo Moo", cursive;
    color: #b890b2;
    text-align: center;
}

.year1, .year2 ,.year3 ,.year4 {
    padding: 40px;
    margin: 0 auto;
    max-width: 550px;
    background-color: #fffcf2;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 30px;
}

.mj-img1 {
    width: 180px;
    height: 200px;
    background-image: url('resources/mheenao.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 200px;
    z-index: 0;
    transform: rotate(0deg);
}

.mj-img2 {
    width: 160px;
    height: 160px;
    background-image: url('resources/mhee2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:560px;
    top: 50px;
    z-index: 0;
    transform: rotate(0deg);
}

.mj-img3 {
    width: 180px;
    height: 180px;
    background-image: url('resources/girl.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:-130px;
    top: 290px;
    z-index: 0;
    transform: rotate(-19deg);
}

.mj-img4 {
    width: 180px;
    height: 180px;
    background-image: url('resources/girl2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:550px;
    top: 290px;
    z-index: 0;
    transform: rotate(0deg);
}

.navbar {
    background-color: #51658b;
    overflow: hidden;
    font-family: "Swanky and Moo Moo", cursive;
    display: flex;
    flex-direction: column;
    width: 20;
    padding: 0px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2
}

.navbar a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
    margin: 0 10px;
    font-weight: 700;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #b890b2; 
}

